body {
    background-color: #F5F7FA;
    font-family: 'Montserrat', 'Arial';
}

li{
    line-height: 24px;
}

/* ..................*/
/*Contenido principal*/
/* ..................*/

.contenedor-principal{
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    Width: 1200px;
    margin: 40px auto;
}

/* ...................*/
/* información general*/
/* ...................*/

.informacion-general{
    padding: 100px 88px;
}

.nombre{
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.texto-descripcion{
    width: 600px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: justify;
}

.descripcion-profesion{
    font-size: 14px;
    font-weight: 700;
}

/*Seccion principales*/

.titulo-sesion-princial{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-top: 45px;
}

.texto-naranja{
    color: #FB6D3A;
}

/*Seccion proyectos*/

.lista-proyectos{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    padding-left: 17px;
}

.enlace-proyectos{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    text-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
}

.puntos-proyectos{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #595959;
}

/*seccion experiencia laboral*/

.puesto-empresa{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-top: 15px;
    margin-bottom: 11px;
}

.periodo-empresa{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
}

.lista-experiencia{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    padding-left: 17px;
}


/*seccion educacion*/

.titulo-institucion{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}

.titulo-profesion{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

.periodo-estudio{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
}

/* ...................*/
/*Información lateral*/
/* ...................*/

.informacion-lateral{
    background-color: #10305f;
    padding: 40px 0;
}

.titulo-lateral{
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-top: 50px;
}

.contactos, .habilidades-tecnicas, .soft-skills{
    margin-left: 40px;
}
/*sesión contactos*/

.tipo-contacto{
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin-right: 5px;
}

.contacto-info{
    color: rgb(177, 177, 177);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
/*sesión de lista*/

.lista-lateral{
    padding: 0;
    padding-left: 17px;
}

.lista-lateral > li{
    color: #FB6D3A;
}

.elemento-lista-lateral{
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}